.DS_Store
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn without P'n'P
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
