name: Node.js CI

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  all:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 13.x
      uses: actions/setup-node@v1
      with:
        node-version: 13.x

    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-:

    - name: Install dependencies
      run: yarn install --immutable --immutable-cache
      shell: bash

    - run: yarn lint

    - run: yarn tsc

    - run: yarn build
